<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Filter movies panel</title>
</head>
<body>
<wicket:panel>

    <div class="search-panel">

        <div class="container">
            <form id="filterForm" method="post" wicket:id="filterForm">
                <fieldset>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label wicket:id="titleLabel"/>
                            <input type="text" wicket:id="title" class="form-control">
                        </div>

                        <div class="form-group col-md-6">
                            <label wicket:id="cityLabel"/>
                            <input type="text" wicket:id="city" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label wicket:id="startLabel"/>
                            <input type="date" wicket:id="start" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label wicket:id="endLabel"/>
                            <input type="date" wicket:id="end" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label wicket:id="childFriendlyLabel"/>
                            <input type="checkbox" wicket:id="childFriendly" class="form-control"/>
                        </div>
                        <div class="form-group  col-md-6">
                            <label wicket:id="distanceLabel"/>
                            <input type="number" wicket:id="maxDistanceinKM" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <button wicket:id="filterButton" type="submit" class="btn btn-success"><span
                                    wicket:id="filterLabel"/>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
    <br/>

</wicket:panel>

</body>
</html>