<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>

    <form id="loginForm" method="post" wicket:id="loginForm" class="navbar-form">
        <fieldset>
            <div class="form-group">
                <input wicket:id="username" type="text" placeholder="gebruikersnaam" class="form-control">
            </div>
            <div class="form-group">
                <input wicket:id="password" type="password" placeholder="wachtwoord" class="form-control">
            </div>
            <button wicket:id="login" type="submit" class="btn btn-success"><span wicket:id="loginLabel"/></button>
        </fieldset>
    </form>

</wicket:panel>

</body>
</html>